.admin_header{ position: fixed;width: 100%; z-index: 800; background-color: white; }

.admin_header_wrap{ display: flex; flex-direction: column;    padding-top: 13px;    border-bottom: 1px solid #ccc;}

.admin_header_first{ display: flex; justify-content: space-between; align-items: center; width: 1000px; padding: 15px 0; margin: 0 auto;}

.serch_for_all{ display: flex; margin-left: 100px; align-items: center; }

.serch_for_all input[type=text]{ width: 300px; height: 25px; border-radius: 10px; border: none; background-color: #eee; font-size: 11pt; padding: 5px; }

.serch_for_all input[type=text]:focus{ outline: 1px solid #ccc; box-shadow: inset 0 0 5px #ccc; }

.serch_for_all_result{ display: flex; justify-content: center; width: 50px; height: 25px; margin-left: 10px; padding: 5px; border-radius: 10px; background-color: #ff8c4a; color: white; cursor: pointer; }

.admin_header_second{ display: flex; justify-content: space-between; padding: 15px 0; border-top: 1px solid #ddd;}

.admin_header_second_wrap{ display: flex; justify-content: space-evenly; width: 1000px; margin:0 auto;}

.admin_header_second_wrap div{ cursor: pointer; }

.admin_header_logo{ display: flex; width: 140px;cursor: pointer;}

.admin_header_logo img{ width: 100%; }

.admin_user{ display: flex; flex-direction: column; width: 100%; }

.adminUserPbtn {
    font-size: 13px;
    color: #666;
    padding: 4px 12px;
    margin-right: 4px;
    cursor: pointer;
    transition: color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.adminUserPbtn:hover{
    border: 1px solid #fe9338;
    color: #fe9338;
}

/* 모달팝업 영역--------------------------------- */
.admin_user_modal_background{ position: absolute; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden; z-index: 999; background-color: rgb(0, 0, 0, 0.3); }

.admin_user_modal{ position: absolute; top: 20%; left: 22%; padding: 20px 50px; width: 50%;; max-height: 65vh; /* 화면 넘치면 내부 스크롤 */ overflow-y: auto; background-color: white; border-radius: 20px;}

.admin_user_modal_table{ display: flex; flex-direction: column; border-bottom: 1px solid #ccc; }

.admin_user_modal_tr{ display: flex; flex: 1; }

.admin_user_modal_th{ background-color: #eee; padding: 10px 15px; flex: 1; border-top: 1px solid #ccc; }

.admin_user_modal_td{ padding: 10px 15px; flex: 5; border-top: 1px solid #ccc; }

.admin_user_button{ display: flex; margin-top: 50px; width: 100%; justify-content: flex-end; }

/* 모달팝업 영역--------------------------------- */

.admin_user_memberlist{ display: flex; flex-direction: column; width: 1000px;margin: 200px auto 0; }

.admin_user_memberlist_title{ display: flex; align-items: center; justify-content: space-between; }

.admin_user_memberlsit_menu{ display: flex; flex-direction: row; }

.admin_user_memberlsit_menu div{ padding: 10px 20px; background-color: #ff8c4a; border-radius: 10px; color: white; cursor: pointer; }

.admin_user_memberlsit_menu div:hover{ background-color: #e06a26; }

.admin_user_memberlsit_menu div:first-child{ margin-right: 10px; }

.admin_user_memberlist_items{ display: flex; justify-content: flex-start; align-items: center; margin: 10px 0; padding: 15px 20px; background-color: white; box-shadow: 0 5px 10px 1px #ddd; border-radius: 10px; cursor: pointer; }

.admin_user_memberlist_items input[type=checkbox]{ margin-right: 15px; }

.admin_user_memberlist_items div{ flex: 1; width: 100px; cursor: pointer; }

.admin_noticeList{ display: flex; flex-direction: column; }

.admin_noticeList_container{ display: flex; flex-direction: column; justify-content: center; width: 1000px;
    margin: 200px auto 0;}

.admin_noticeList_wrap .item:hover{background: #f9f9ff;transition: all 0.3s;}

.admin_notice_detail{ display: flex; flex-direction: column; }

.admin_notice_subPage{margin: 0 auto;width: 1000px;margin-top: 100px;}

.admin_detail_edit{ display: flex; flex-direction: column; }

.admin_detail_edit_container{ display: flex; flex-direction: column; width: 1000px; margin: 200px auto 0;padding-bottom: 80px;}

.admin_detail_edit_wrap{    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 60px;
}

.admin_detail_edit_field{ display: flex; flex-direction: column; }

.admin_detail_edit_field div{ font-size: 15pt; flex: 1; margin: 20px 0; }

.admin_detail_edit_field input[type=text]{ width: 100%; height: 30px; margin-bottom: 20px; padding: 5px 10px; background-color: white; border: 1px solid #ddd; font-size: 12pt; }

.admin_detail_edit_field textarea{ height: 300px; width: 100%; padding: 5px 10px; border: 1px solid #ddd; font-size: 12pt; }

.admin_serch{ display: flex; flex-direction: column; }

.admin_serch_wrap{ margin: 0 200px; }

.admin_serch_member{ display: flex; flex-direction: column; margin-top: 200px; }

.admin_serch_notice{ display: flex; flex-direction: column; margin-top: 50px; }

.admin_serch_product{ display: flex; flex-direction: column; margin-top: 50px; }

.admin_serch_row{ display: flex; width: 100%; justify-content: flex-start; justify-items: flex-start; flex: 1; border-bottom: 1px solid #ddd; cursor: pointer; }

.admin_serch_col{ display: flex; justify-content: flex-start; flex: 1; padding: 10px; }