.cart{
    display: flex;
    flex-direction: column;
}

.cartCn{
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.cartListBox{
    margin-top: 170px;
    width: 1000px;
    height: auto;
    margin-bottom: 5px;
}

.title-cart{
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.content-cart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 22px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.content-cart .cart_detail .col-cart:first-of-type:hover{
    text-decoration: underline;
}

.checkBox-cart{
    display: flex;
    align-items: center;
}

.image-cart{
    width: 120px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 30px;
}

.image-cart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart_detail{
    display: flex;
}

.row-cart{
    display: flex;
    flex-direction: column;
}

.col-cart{
    padding: 5px 0;
    width: 250px;
}

.col-cart:nth-child(1){
    font-size: 13pt;
    font-weight: 400;
    padding-top: 0;
}

.col-cart:nth-child(2){
    font-size: 11pt;
    color: #aaa;
}

#deletIco{
    cursor: pointer;
}

.option-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 22px;
    justify-content: space-between;
}

.delete-cart{
    display: flex;
    align-items: center;
}

.delete-cart div:nth-child(1){
    padding-right: 15px;
}

.delete-cart div:nth-child(2){
    padding-left: 15px;
    cursor: pointer;
}

.allChktxt {margin-left: 5px;vertical-align: top;}

