.chatbot{
    z-index: 99999;
    position: fixed;
    cursor: pointer;
    background-color: #fe9338;
    bottom:50px;
    right:50px;
    width:80px;
    height:80px;
    text-align: center;
    line-height: 80px;
    font-size: 10pt;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.25s;
}
.chatbot:hover{
    background: #ff5e49;
}
.chatbot img{
    margin: 15px;
    width: 50px;
    height: 50px;
}
.chatbotbox{
    z-index: 99999;
    position: fixed;
    width:390px;
    height:650px;
    right:50px;
    bottom:135px;
    border:2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}
.chat-box {
    height: 450px;
    width: 100%;
    
    margin: 5px 0;
    overflow-y: auto;
    border-radius: 20px;
    padding:20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.userMessage{
    align-self: right;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: auto;
    max-width: 70%;
}
.senderUser{
    font-weight: bold;
    color:orangered;
    text-align: right;
}
.userContent{
    text-align: right;
    background-color: #ffe2c8;
    padding: 15px 10px;
}
.botMessage{
    align-self: left;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: auto;
    max-width: 100%;
}
.botMessage img{
    width: 50px;
    height: 50px;
}
.senderBot{
    font-weight: bold;
    color: #444;
    text-align: left;
    font-size: 10pt;
    margin-bottom: 10px;
}
.botContent{
    text-align: left;
    line-height: 25px;
    background-color: #eee;
    padding: 15px 10px;
}
.userQuestion{
    display: flex;
    width:100%;
    margin-top: 5px;
    align-items: center;
}
.question{
    flex:5; 
    height:30px; 
    font-size: 110%;
    border: 1px solid #444;
    padding: 5px 10px;
}
.question:focus{
    outline: 1px solid #fe9338;
    border: 1px solid #fff;
    padding: 5px 10px;
}
.sendBtn{
    flex:1; 
    background-color: #fe9338;
    color:white;
    font-size: 110%; 
    font-weight: bold;
}

.text-center{
    font-size: 15pt;
    margin-bottom: 30px;
}