.footer{
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 100px;
}

.footerCn{
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    margin: 0 auto;
}

.footerBox{
    line-height: 30px;
    color: #4e4e4e;
    height: auto;
    font-size: 13px;
}

.footerBox span{margin-right: 20px;}