#loginWrap {position: relative;width: 100%;height: 100%;}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    background-color: #fff;
    padding: 50px 80px 90px 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px #aaa;
}

.login-menu{
    margin-bottom: 50px;
    cursor: pointer;
}

.login-title{
    width: 200px;
    margin-bottom: 20px;
}
.login-title img {width: 100%;}

.login-cn{
    display: flex;
}

.login-field-cn{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.login-field input{
    width: 400px;
    background-color: #eee;
    border: 1px solid #eee;
    height: 25px;
    border-radius: 5px;
}

.login-field input:focus{
    outline: 1px;
    border: 1px solid #aaa;
    background-color: white;
}


.login-side-btn button{
    width: 100%;
    background-color: #191919;
    margin: 20px 0;
}

.login-side-btn button:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

.login-btns{
    display: flex;
    justify-content: space-between;
}

.login-btns button{margin: 0;padding: 10px 28px;background: #a1a1a1;}
.login-btns button.kakaoBtn {background: #fbef4d;
    color: #232323;}

.login-btns button:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}
