html{width: 100%;height: 100%;}
body {width: 100%;height: 100%;font-family: "Noto Sans KR", sans-serif;margin: 0;}
#root{  width: 100%;height: 100%;}
.App{width: 100%;height: 100%;}

[type="checkbox"] {
    width: 18px;
    height: 18px;
}
button {
    padding: 10px 20px;
    background-color: #fe9338;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px #eee; */
    cursor: pointer;
    transition: all 0.2s;
}
.login-btns button + button {margin-left: 10px;}
button + button {
    margin-left: 10px;
}

button.gray {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #2e2e2e;
  box-shadow: none;}

  /* 전체 요소에 적용 */
*::-webkit-scrollbar {
    width: 8px;           /* 스크롤바 너비 */
    height: 8px;          /* 가로 스크롤 높이 */
}

*::-webkit-scrollbar-thumb {
    background: #fe9338;  /* 스크롤바 색상 */
    border-radius: 8px;
}

*::-webkit-scrollbar-track {
    background: #f7f7f7;  /* 트랙 색상 */
    border-radius: 8px;
}

input[type="text"] + button {margin-left: 6px;}





